# Database Config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=YOUR_DATABASE_USERNAME
DB_PASS=YOUR_DATABASE_PASSWORD
DB_NAME=YOUR_DATABASE_NAME

# App Config
APP_BASE_URL=https://yourdomain.com/
APP_FROM_EMAIL=your_sender@domain.com
APP_FROM_NAME="MSJOBS Admin"

# SMTP Config (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=YOUR_GMAIL_APP_PASSWORD
SMTP_SECURE=tls
